{%extends 'index.html'%}
{%load static%}
<body>

    {%block content%}
<section class="experience_area p_100">
    <div class="container">
        <div class="row experience_inner">
            
            <div class="col-lg-8">
                
                <div class="experience_text">
                    <h3>We have 12 years <br>Experience in Safety Nets Dealers in Banglore </h3>
                    <h5>Safety - <span class="theme_color">Reliability</span> - Innovation </h5>
                    <p>Nithya Enterprises protective nets are designed to protect children and adults from accidental falls from windows, balconies or terraces. It can also be used on staircases, fences and railing and galleries..<br>Our protective nets will provide you with a peace of mind because your child will be safe even when windows and balcony doors are wide open.</p>
                    <p></p>
                    <div class="row ex_item_inner">
                        <div class="col-lg-4">
                            
                            <div class="media">
                                <div class="d-flex">
                                    <img src="{%static 'img/icon/check-circle.png'%}" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>We are Trusted</h4>
                                    <h6>Over 12 years</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="media">
                                <div class="d-flex">
                                    <img src="{%static 'img/icon/check-circle.png'%}" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Lots of Technician</h4>
                                    <h6>More than 20</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="media">
                                <div class="col-lg-4">

                                    <img src="{%static 'img/icon/check-circle.png'%}" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Good support</h4>
                                    <h6>Anytime 24 Hours</h6>
                                
                        </div>
                    </div>
            <!--        <a class="main_btn" href="about.php">know more about us</a>-->
                </div>
            </div>
</section>
{%endblock%}
</body>            