{%extends 'index.html'%}
{%load static%}
<body>

    {%block content%}
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKTS6B3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

<div class="Main" style="width:100% ; ">

    <div  style="width: 60%; float : left;  ">
        <div style="padding:100px 10px 50px; margin:20px;">
        <h3>We have 12 years <br>Experience in Safety Nets Dealers in Banglore </h3>
                    <h5 style="color: blue;">Safety - <span style="color: blue;">Reliability</span> - Innovation </h5>
                    <p>Nithya Enterprises protective nets are designed to protect children and adults from accidental falls from windows, balconies or terraces. It can also be used on staircases, fences and railing and galleries..<br>Our protective nets will provide you with a peace of mind because your child will be safe even when windows and balcony doors are wide open.</p>
                    <p></p>
        </div>  

    </div>
    <div style="width:40% ; float : left;  ">
        <div style="float: left; " >
        <img  height="500px;"  src="{%static 'img/Bird Protect Nets.png'%}" >
        </div>    

    </div>






</div>
{%endblock%}
</body>